# APP
VITE_APP_NAME=
VITE_APP_ENV=
VITE_PORT=

# URLS
VITE_FRONTEND_URL=
VITE_API_URL=
VITE_UPLOAD_URL=

# PAGINATION
VITE_DEFAULT_PAGE_SIZE=

# FILE UPLOAD
VITE_MAX_FILE_SIZE=

# DATE FORMAT
VITE_DATE_FORMAT=

# FEATURE FLAGS
VITE_ENABLE_NOTIFICATIONS=
VITE_ENABLE_HISTORY_CLASS=
VITE_ENABLE_ASSESSMENT=

# DEBUG
VITE_ENABLE_LOGGER=