# APP
VITE_APP_NAME=Orange LMS
VITE_APP_ENV=development
VITE_PORT=5173

# API
VITE_API_URL=http://localhost:3000/api
VITE_UPLOAD_URL=http://localhost:3000/uploads

# PAGINATION
VITE_DEFAULT_PAGE_SIZE=10

# FILE UPLOAD
VITE_MAX_FILE_SIZE=5242880

# DATE FORMAT
VITE_DATE_FORMAT=id-ID

# FEATURE FLAGS
VITE_ENABLE_NOTIFICATIONS=true
VITE_ENABLE_HISTORY_CLASS=true
VITE_ENABLE_ASSESSMENT=true

# DEBUG
VITE_ENABLE_LOGGER=true